@import "settings"

// typography
normalize()
base()
bold-italic()
headers()
//text-selection()
lists()
buttons()
//code-blocks()
tables()
grid()

p
  paragraph(font-size)

small
  small-text()

a
  link()

blockquote
  blockquote()
