@import "settings"

//
// app
//

// center the contents
div.center
  max-width: 1100px
  margin: 0 auto
  overflow: hidden

// header
#top
  margin-bottom: 1em

#top
  background-color: whitesmoke
  header
    column(9)
  nav
    column(3)
    padding-top: 1.5em

#logo
  size: 285 49
  padding: 1em 0

footer#bottom
  margin-top: 1em

#content
  column(9)

#sidebar
  column(3)

.breadcrumbs
  breadcrumb()

#global-nav
  inline-list()
  float: right;
