<template name="tutorials">
  <section>
    <h2>Tutorials</h2>
    <ul>
      <li>
        Express
        <ul>
          <li><a href="/tutorials/express/authentication">Authenticaion</a></li>
        </ul>
      </li>
      <li>
        Meteor
        <ul>
          <li><a href="/tutorials/meteor/blog">Creating a Blog</a></li>
        </ul>
      </li>
    </ul>
  </section>
</template>

<template name="tutorial">
  <ul class="breadcrumbs">
    <li><a href="/{{section}}">{{section}}</a> <span class="divider">/</span></li>
    <li class="active">{{book}}</li> 
  </ul>
  <div class="row">
    <div class="two columns">
      {{{marked mdToc}}}
    </div>
    <div class="eight columns">
      {{{marked mdContent}}}
    </div>
    <div class="two columns">
      <h5>
        This tutorial
        sponsored by Borja Robles
      </h5>
    </div>
  </div>
</template>
