template(name='tutorials')
  section
    h2 Tutorials
    ul
      li
        | Express
        ul
          li
            a(href='/tutorials/express/authentication') Authenticaion
      li
        | Meteor
        ul
          li
            a(href='/tutorials/meteor/blog') Creating a Blog

template(name='tutorial')
  ul.breadcrumb
    li
      a(href='/{{section}}') {{section}}
      span.divider /
    li.active {{book}}
  .row
    .span2
      | {{{marked mdToc}}}
    .span8
      | {{{marked mdContent}}}
    .span2
      h5
        | This tutorial
        | sponsored by Borja Robles
