<head>
  <meta name="msvalidate.01" content="891044A4BD9DEAB5E7D480B357BD2029" />
  <title>scotchmedia.com</title>
	<meta name="viewport" content="initial-scale=1.0">
	<link rel="shortcut icon" href="/img/favicon.ico"/>
  <link rel='stylesheet' href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css'/>
  <link rel='stylesheet' href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css'/>
  <link rel='stylesheet' href='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css'/>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
  <script src='http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js'></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', "UA-28149225-1"]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  {{> body}}
</body>
