<template name="body">

	<!-- Header -->
  <div id="top">
    <div class="center">
      <header>
        <a href="/"><img id="logo" src="/logo.png" alt="Scotch Media" /></a>
        <!--<h1>Scotch Media</h1>-->
      </header>
      <nav>
        <ul id="global-nav">
          <li class="{{isActiveTop "home"}}"><a class="nav-link" href="/">Home</a></li>
        </ul>
      </nav>
    </div>
  </div>

	<div class="center">
    {{renderPage}}
	</div>

  <footer id="bottom">
    <div class="center">
      <p>&copy; 2013 Scotch Media. All rights reserved.</p>
    </div>
  </footer>

</template>
