<template name="body">

  <header>
    <!--<h1><img src="/logo.png" alt="Scotch Media" /></h1>-->
    <h1>Scotch Media</h1>
    <ul class="">
      <li class="{{isActiveTop "home"}}"><a class="nav-link" href="/">Home</a></li>
      <li class="{{isActiveTop "projects"}}"><a class="nav-link" href="/projects">Projects</a></li>
      <li class="{{isActiveTop "tutorials"}}"><a class="nav-link" href="/tutorials">Tutorials</a></li>
    </ul>
  </header>

  <div class="main">
    {{renderPage}}
  </div>

  {{> footer}}

</template>
