<template name="home">
  <section>
    <h3>Projects</h3>
    <ul>
      <li><a href="/projects/engineauth">EngineAuth</a></li>
    </ul>
  </section>
  <section>
    <h3>Tutorials</h3>
    <ul>
      <li>
        Express
        <ul>
          <li><a href="/tutorials/express/authentication">Authenticaion</a></li>
        </ul>
      </li>
      <li>
        Meteor
        <ul>
          <li><a href="/tutorials/meteor/blog">Creating a Blog</a></li>
        </ul>
      </li>
    </ul>
  </section>
</template>
