template(name='home')
  section
    h3 Projects
  section
    h3 Tutorials
    ul
      li
        | Express
        ul
          li
            a(href='/tutorials/express/authentication') Authentication
      li
        | Meteor
        ul
          li
            a(href='/tutorials/meteor/blog') Creating a Blog
